<div class="navi">
  <div class="container">
    <div class="content-in-nav d-flex p-2 justify-content-between">
      <a class="navbar-brand logo" routerLink="home">
        <img src="../../../assets/images/Vector.png" alt="" />
        Ecobazar
      </a>
      <form class="d-flex">
        <input class="" type="text" placeholder="Search" />
        <button class="">Search</button>
      </form>
      <div class="watch-cart">
        <a>
          <i class="fa-regular fa-heart fa-xl"></i>
        </a>
        <a>
          <i class="fa-solid fa-cart-plus fa-xl"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
