.banner {
  background-image: url("../../../assets/images/banner.jpeg");
  height: 100px;
  width: 100vw;
  background-size: cover;
  border: 1px solid #333;
  background-position: center center;
  background-repeat: repeat;
  position: relative;
  z-index: -2;
}